body {
	background-color: #222222;
}
code,
kbd,
pre,
samp {
  font-family: Hack, "Hack", monospace, monospace;
  font-size: 1em;
  background-color:#424242;
  border:0px solid #dadada;
  border-radius:2px;
  color: white;
}

.chip {
  background-color: black;
}

.grey.lighten-1 {
  background-color: #212121 !important;
}

.black-text {
  color: #FFFFFF !important;
}

.text {
  color: #FFFFFF;
}

.tabs {
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  height: 48px;
  width: 100%;
  background-color: #000;
  margin: 0 auto;
  white-space: nowrap;
  font-weight: bold;
}

.tabs.tabs-transparent .tab a,
.tabs.tabs-transparent .tab.disabled a,
.tabs.tabs-transparent .tab.disabled a:hover {
  color: rgba(255, 255, 255, 0.7);
}

.tabs.tabs-transparent .tab a:hover,
.tabs.tabs-transparent .tab a.active {
  color: rgba(255, 255, 255, 1) !important;
}

.loading {
  color: white;
}

.side-nav {
  background-color: black;
  color: white;
}

.sidebar-icons {
  font-size: 36px;
  position: relative;
  left: 20px;
}