.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
body {
	background-color: #f5f5f5;
}
code,
kbd,
pre,
samp {
  font-family: Hack, "Hack", monospace, monospace;
  font-size: 1em;
  background-color:#f5f5f5;
  border:0px solid #dadada;
  border-radius:2px;
}

.card-panel {
  transition: box-shadow .25s;
  padding: 20px;
  margin: 0.5rem 0 1rem 0;
  border-radius: 2px;
  background-color: #fff;
}

.card-title {
  line-height: 90%;
}
.card .card-content {
  padding: 10px;
}

h1 {
  font-size: 2.0rem;
  line-height: 110%;
  margin: 2.1rem 0 1.68rem 0;
}

h2 {
  font-size: 1.7rem;
  line-height: 110%;
  margin: 1.78rem 0 1.424rem 0;
}

h3 {
  font-size: 1.5rem;
  line-height: 110%;
  margin: 1.46rem 0 1.168rem 0;
}

h4 {
  font-size: 1.3rem;
  line-height: 110%;
  margin: 1.14rem 0 0.912rem 0;
}

h5 {
  font-size: 1.1rem;
  line-height: 110%;
  margin: 0.82rem 0 0.656rem 0;
}

h6 {
  font-size: 1rem;
  line-height: 110%;
  margin: 0.5rem 0 0.4rem 0;
}

.tabs {
  font-weight: bold;
  color: red;
}

/* !important shouldn't be here */
.tabs.tabs-transparent .tab a,
.tabs.tabs-transparent .tab.disabled a,
.tabs.tabs-transparent .tab.disabled a:hover {
  color: rgba(50, 50, 50, 0.7) !important;
}

.tabs.tabs-transparent .tab a:hover,
.tabs.tabs-transparent .tab a.active {
  color: rgba(0, 0, 0, 1) !important;
}

.tabs.tabs-transparent .indicator {
  background-color: rgba(150, 150, 150, 1) !important;
}

.sidebar-icons {
  font-size: 36px;
  position: relative;
  left: 20px;
}