.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.card-panel {
  transition: box-shadow .25s;
  padding: 0px;
  margin: 0.5rem 0 1rem 0;
  border-radius: 2px;
  background-color: #fff;
}

.blue-grey{
  padding: 10px;
  margin: 1rem 0 1rem 0;
}
.card-title {
  line-height: 90%;
}
.card .card-content {
  padding: 0px;
}

.card {
  position: relative;
  margin: 0.4rem 0 0.4rem 0;
  background-color: #fff;
  border-radius: 5px;
  width: 100%;
}

.chip {
  display:inline-block;
  height: 32px;
  font-size: 13px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
  line-height: 32px;
  padding: 0 0px;
  border-radius: 16px;
  margin-bottom: 5px;
  margin-right: 0px;
}

h1 {
  font-size: 2.0rem;
  line-height: 110%;
  margin: 2.1rem 0 1.68rem 0;
}

h2 {
  font-size: 1.7rem;
  line-height: 110%;
  margin: 1.78rem 0 1.424rem 0;
}

h3 {
  font-size: 1.5rem;
  line-height: 110%;
  margin: 1.46rem 0 1.168rem 0;
}

h4 {
  font-size: 1.3rem;
  line-height: 110%;
  margin: 1.14rem 0 0.912rem 0;
}

h5 {
  font-size: 1.1rem;
  line-height: 110%;
  margin: 0.82rem 0 0.656rem 0;
}

h6 {
  font-size: 1rem;
  line-height: 110%;
  margin: 0.5rem 0 0.4rem 0;
}

.tabs {
  font-weight: bold;
}

.tabs.tabs-transparent .indicator {
  background-color: rgba(150, 150, 150, 1) !important;
}

.sidebar-icons {
  font-size: 36px;
  position: relative;
  left: 20px;
}

#sidenav-overlay {
  height: 100%;
  /* Android webview workaround (vh not working) */
}

.side-nav {
  position: fixed;
  width: 230px;
}

.side-nav ul li{
  position: relative;
  left: -20px;
  margin: 0px;
}

.sn-element{
  position: relative;
  left: -20px;
  margin: 0px;
}

/* Tab bar light styling (avoid flashing) */
.tabs.tabs-transparent .tab a,
.tabs.tabs-transparent .tab.disabled a,
.tabs.tabs-transparent .tab.disabled a:hover {
  color: rgba(50, 50, 50, 0.7);
}

.tabs.tabs-transparent .tab a:hover,
.tabs.tabs-transparent .tab a.active {
  color: rgba(0, 0, 0, 1) !important;
}

.row {
  margin-bottom: 0px;
}

.row .col {
  padding: 0 0.5rem;
}